<% if @book.errors.any? %>
 <%= @book.errors.count %>errors prohibited this obj from being saved:
 <% @book.errors.full_messages.each do |massage| %>
 <li><%= massage %></li>
 <% end %>
<% end %>
<h1>User info</h1>
<p><%= image_tag @user.get_profile_image(100,100) %></p>
<p>name <%= @user.name %></p>
<p>introduction <%= @user.introduction %></p>
<p><%= link_to"プロフィール編集",edit_user_path(@user.id) %></p>

<div>
<h1>New book</h1>
<%= form_with model: @book do |f| %>
 <label for = "Name" >Title</label><br>
 <%= f.text_field :title, id:"Name" %><br>
 <label for = "Opinion" >Opinion</label><br>
 <%= f.text_area :body, id:"Opinion" %><br>
 <%= f.submit"Create Book" %>
<% end %>
</div>
<div>
  <h1>Books</h1>
  <table>
   <tr>
    <th></th>
    <th>Title</th>
    <th>Opinion</th>
   </tr>
   <% @books.each do |book| %>
   <tr>
    <th><%= image_tag book.user.get_profile_image(100,100) %></th>
    <th>
     <%= link_to book_path(book) do %>
      <%= book.title %>
     <% end %>
    </th>
    <th><%= book.body %></th>
  <% end %>
   </tr>
  </table>
</div>
