<%= flash[:create] %>
<%= flash[:update] %>
<h1>User info</h1>
<p><%= image_tag @book.user.get_profile_image(100,100) %></p>
<p>name <%= @book.user.name %></p>
<p>introduction <%= @book.user.introduction %></p>
<% if @book.user == current_user %>
 <p><%= link_to"プロフィール編集",edit_user_path(@book.user.id) %></p>
<% end %>

<div>
<h1>New book</h1>
<%= form_with model: @books do |f| %>
 <label for = "Name" >Title</label><br>
 <%= f.text_field :title, id:"Name" %><br>
 <label for = "Opinion" >Opinion</label><br>
 <%= f.text_area :body, id:"Opinion" %><br>
 <%= f.submit"Create Book" %>
<% end %>
</div>

<h1>Books Datail</h1>

<table>
  <tr>
    <th><%= image_tag @book.user.get_profile_image(50,50) %></th>
    <th><%= @book.title %></th>
    <th><%= @book.body %></th>
    <%if @book.user_id == current_user.id %>
      <th><%= link_to"Edit",edit_book_path(@book.id) %></th>
      <th><%= link_to"Delete",book_path,method: :delete %></th>
    <% end %>
  </tr>
</table>
