<div class="container">
 <div class="row">
  <div class="col-3 mr-5">
  
   <%= flash[:update] %>
   <h1>User info</h1>
   <p class="border-bottom"><%= image_tag @book.user.get_profile_image(100,100) %></p>
   <p class="border-bottom">name <%= @book.user.name %></p>
   <p>introduction <%= @book.user.introduction %></p>
   <% if @book.user == current_user %>
    <p><%= link_to"プロフィール編集",edit_user_path(@book.user.id) %></p>
   <% end %>

   <h1>New book</h1>
   <%= form_with model: @books, url: books_path, method: :post do |f| %>
    <label for = "Name" >Title</label><br>
    <%= f.text_field :title, id:"Name" %><br>
    <label for = "Opinion" >Opinion</label><br>
    <%= f.text_area :body, id:"Opinion" %><br>
    <%= f.submit"Create Book" %>
   <% end %>
  </div>

  <div class="col-8">
   <h1>Book detail</h1>
   <table class="table">
   <tr class="border-bottom">
     <th>
       <p><%= image_tag @book.user.get_profile_image(50,100) %></p>
       <%= link_to user_path(@book.user) do %>
       <%= @book.user.name %>
       <% end %>
     </th>
     <th><%= @book.title %></th>
     <th><%= @book.body %></th>
     <%if @book.user_id == current_user.id %>
       <th><%= link_to"Edit",edit_book_path(@book.id) %></th>
       <th><%= link_to"Destroy",book_path,method: :delete %></th>
     <% end %>
   </tr>
   </table>
  </div>
 </div>
</div>
