<div class="container">
 <div class="row">
  <div class="col-sm-3 col-md-3">
   <%= flash[:update] %>
   <h1>User info</h1>
   <p class="border-bottom"><%= image_tag @book.user.get_profile_image(100,100) %></p>
   <p class="border-bottom">name <%= @book.user.name %></p>
   <p>introduction <%= @book.user.introduction %></p>
   
   <%= link_to edit_user_path(@book.user.id) do %>
       <p class="text-center border rounded-pill"><i class="fas fa-user-cog"></i></p>
   <% end %>

   <h1>New book</h1>
   <%= form_with model: @books, url: books_path, method: :post do |f| %>
    <label for = "Name" >Title</label><br>
    <%= f.text_field :title, id:"Name",class: 'form-control' %><br>
    <label for = "Opinion" >Opinion</label><br>
    <%= f.text_area :body, id:"Opinion",class: 'form-control' %><br>
    <%= f.submit"Create Book" %>
   <% end %>
  </div>
  
  <div class="col-sm-8 col-md-8 offset-md-1 ">
   <h1>Book detail</h1>
   <table class="table table-hover">
     <tr class="border-bottom">
       <td style="width:30%">
         <%= link_to user_path(@book.user) do %>
           <p><%= image_tag @book.user.get_profile_image(50,100) %></p>
           <%= @book.user.name %>
         <% end %>
       </td>
       <td style="width:35%">
         <%= @book.title %>
       </td>
       <td style="width:35%">
         <%= @book.body %>
       </td>
       <%if @book.user_id == current_user.id %>
       <td><%= link_to"Edit",edit_book_path(@book.id),class: 'btn btn-success' %></td>
       <td><%= link_to"Destroy",book_path,method: :delete,class: 'btn btn-danger' %></td>
     <% end %>
   </tr>
   </table>
  </div>
 </div>
</div>
